### QUESTION 1

In [21]:
x=int(input("enter x:"))
y=int(input("enter y:"))
""" this code finds a number that is greater"""
def findmax():
    if x>y:
       print(f"the less value is {x}")
    else:
        print(f"the greater value is {y}")
fun1()

enter x: 1
enter y: 2

the greater value is 2

### QUESTION 2

In [35]:
"""finding a maximum among three numbers"""
import math
def max_of_three(a,b,c):
    return max(a,b,c)
max_of_three(1,2,3)

3

### QUESTION 3

In [80]:

"""this function prints out a length of a list"""
count=0
def fun():
name=["j","m","n"]
    for i in  name:
        index=name[0]
    print(f"the length of{name} is:")

In [98]:
def string_length(s):
    count = 0
    for char in s:
        count += 1
    return count
string_length("maina joseph")

12

### QUESTION 4

In [122]:
"""this function checks if the vowels exist in a word or letter"""
def is_vowel(v):
    vowels='aeiouAEIOU'
    return v in vowels
is_vowel('a')

True

##  Question 5

In [131]:
def transform(input_string):
    vowel_set = 'aeiouAEIOU'
    transformed_string = ''
    
    for character in input_string:
        if character.lower() not in vowel_set and character.isalpha():
            transformed_string += character + 'o' + character.lower()
        else:
            transformed_string += character
    
    return transformed_string
print(transform("hello")) 
print(transform("world"))

hohelollolo
wowororloldod

## Question 6

In [134]:

def total_items(item_list):
    return sum(item_list)
"""this prints out a total in that list"""
print(total_items([1, 2, 3, 4]))

10

In [141]:
list1=[1,2,3,4]
def total_list(list1):
    return sum(list1)
print(total_list(list1))

10

##### part b

In [144]:
item_list=[1,2,3,4]
from functools import reduce
def multiply_items(item_list):
    return reduce(lambda first, second: first * second, item_list)
print(mutiply_items())

## Question 7

In [ ]:
def isPalindrome(string): 
    if (string == string[::-1]) : 
        return "The string is a palindrome." 
    else: 
        return "The string is not a palindrome." 
 
#Enter input string 
string = input ("Enter string: ") 
 
print(isPalindrome(string))

In [20]:
def isPalindrome(string):
    if (string ==string[::1]):
        return "this is a palidrome string"
    else:
        return "its not a palidrome"
string=input("enter a string")
print(isPalindrome(string))

enter a string ghf

this is a palidrome string

In [115]:
def ispal(my_name):
    if (my_name ==my_name[::1]):
        return "this is a reverse of my name"
    else:
        return "this is my name"
my_name="jhjk"
print(ispal(my_name))

this is a reverse of my name

## Question 8

In [93]:
list=["g","f","i","p","k"]
"""this checks if a charcater or letter belongs in list"""
def check_membership1(list):
    check="j" 
    if check in list:
        return"i belong in list"
    else:
        return "dont belong in list"
check_membership1("j")

'i belong in list'

In [95]:
char=["dell","hp","samsung","apple"]
def check_laptop(list):
    look_for="nokia"
    if look_for in char:
        return "i belong to the list of laptops here"
    else:
        return"i dont belong in the laptop types here"
check_laptop("nokia")

'i dont belong in the laptop types here'

### Question 9 : Write check_overlap() to identify if two lists share any elements.

In [128]:
list1=[1,2,3,4,5,6]
list2=[1,7,8,9]
def check_overlap():
    for i in list1:
        if i in list2:
            return " we share a common number"
        else:
            return" we dont share any common number"
check_overlap()

' we share a common number'

### Question 10: Implement repeat_char() that generates a string
### with a specified character repeated n times.

## Importing Modules

In [141]:
import mymodule
print(mymodule.greet("Alice"))  # Output: Hello, Alice!
print(mymodule.add(5, 7))

Hello, Alice!
12

In [7]:
import mymodule
print(mymodule.greet("joseph"))  # Output: Hello, Alice!
print(mymodule.add(89, 7))

Hello, joseph!
96

In [17]:
from cube1_m import cube
for i in range(1, 4):
    print("cube of", i, "=", cube(i), end=" ")

cube of 1 = 1 cube of 2 = 8 cube of 3 = 27

In [19]:
from cube1_m import cube

for i in range(1, 4):
    print("cube of", i, "=", cube(i), end=" ")

cube of 1 = 1 cube of 2 = 8 cube of 3 = 27

In [28]:
from cube1_m import cube
for i in range(2,8):
    print("cube of",i,"=",cube(i))

cube of 2 = 8
cube of 3 = 27
cube of 4 = 64
cube of 5 = 125
cube of 6 = 216
cube of 7 = 343