In [109]:
number=int(input("enter number:"))
even_num=1
odd_num=0
for i in range(n):
    if i%2 == 0:
        even_num*=(i+3)
    else:
        odd_num+=(1+3)
print(f'product={even_num},sum={odd_sum}')

enter number:6
product=945,sum=10

#question 2

In [116]:
day_number = int(input("Enter the number of the day of the week (0-6): "))
if day_number == 0:
    print("Monday")
elif day_number == 1:
    print("Tuesday")
elif day_number == 2:
    print("Wednesday")
elif day_number == 3:
    print("Thursday")
elif day_number == 4:
    print("Friday")
elif day_number == 5 or day_number == 6:
    print("Weekend")
else:
    print("Invalid input! Please enter a number between 0 and 6.")

Enter the number of the day of the week (0-6): 4
Friday

#question3

In [124]:
name="joseph"
for i in range(3):
    print(name)
print("......................../t")

Name="maina"
i=0
while i<3:
    i+=1
    print(Name)

joseph
joseph
joseph
......................../t
maina
maina
maina

##question5

In [125]:
a_0 = int(input('Enter a_0: '))
a_1 = int(input('Enter a_1: '))

for i in range(15):
    if i==0:
        print(a_0)
    elif i==1:
        print(a_1)
    else:
        a_0, a_1 = a_1, a_0 + a_1
        print(a_1)

Enter a_0: 1
Enter a_1: 1
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610

In [137]:
f_0 = int(input("enter initial number:"))
f_1 = int(input("enter second number:"))

for i in range(15):
    if i==0:
        print(f_0) 
    elif i==1:
        print(f_1)
    else:
        f_0, f_1 = f_1, f_0 + f_1
        print(f_1)

enter initial number:1
enter second number:1
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610

#question 6

In [139]:
a_0 = int(input('Enter a_0: '))
a_1 = int(input('Enter a_1: '))


for i in range(30):
    if i==0:
        print(a_0)
    elif i==1:
        print(a_1)
    else:
        a_0, a_1 = a_1, (6*a_0 + a_1)/2
        print(a_1)

Enter a_0: 1
Enter a_1: 2
1
2
4.0
8.0
16.0
32.0
64.0
128.0
256.0
512.0
1024.0
2048.0
4096.0
8192.0
16384.0
32768.0
65536.0
131072.0
262144.0
524288.0
1048576.0
2097152.0
4194304.0
8388608.0
16777216.0
33554432.0
67108864.0
134217728.0
268435456.0
536870912.0

#question7

In [152]:
year=int(input("enter the year:"))
if year % 4 == 0:
    print(f"year {year} is a leap year")
else:
    print(f"this is not a leap  year")
if year % 100 == 0:
    print(f"year {year} is a leap year")
else:
    print(f"year {year} is not leap yeart")
if year % 400 == 0:
    print(f"year {year} is a leap year")
else:
    print(f"year {year} is not leap yeart")

enter the year:1600
year 1600 is a leap year
year 1600 is a leap year
year 1600 is a leap year

#part 7(b)

In [153]:
if year%4!=0 or (year%4==0 and year%100==0 and year%400!=0):
    print(f'{year} is not a leap year.')
else:
    print(f'{year} is a leap year.')

1600 is a leap year.

#question 8

In [155]:
n = int(input('Enter a natural numbers: '))
sum_square_for = 0
sum_square_while = 0
for i in range(n):
    sum_square_for += i**2
    
i=0
while i<n:
    sum_square_while += i**2
    i += 1
    
print(sum_square_for, sum_square_while)

Enter a natural numbers: 3
5 5

In [156]:
# for loop version
P = int(input('Give a number P: '))
sum_number = 0
for i in range(P):
    sum_number += i**2
    if sum_number>=P:
        print(f'The smallest natural n is {i}')
        break
        
# while loop
sum_number = 0
i = 0
while sum_number < P:
    i += 1
    sum_number += i**2
    
    
print(f'The smallest natural n is {i}')

Give a number P: 1
The smallest natural n is 1

#Question 9

In [158]:
n = int(input('Give a natural number: '))
def divisors(number):
    list_divisors = [1, n]
    for i in range(2, int(n/2)+1):
        if n%i==0:
            list_divisors.append(i)
    return list_divisors
        
print(divisors(n))

Give a natural number: 10
[1, 10, 2, 5]

#question 10

In [161]:
def check_prime(number):
    if number <= 1:  
        return False
    for i in range(2, number):
        if number % i == 0:
            return False
    return True
n = int(input('Give a natural number: '))
set_of_factors = set()
for i in range(2, n + 1):
    if n % i == 0 and check_prime(i):
        set_of_factors.add(i)
print(set_of_factors)

Give a natural number: 7
{7}

#question 11

In [165]:
n=9
j=int(input("enter an integer btwn 0 and 9"))
i=int(input("enter an integer btwn 0 and 9"))
for i in range (n):
    for j in range(n):
        print("{0} mutiplies {1} equals {2}".format(i,j,i*j))

enter an integer btwn 0 and 91
enter an integer btwn 0 and 90
0 mutiplies 0 equals 0
0 mutiplies 1 equals 0
0 mutiplies 2 equals 0
0 mutiplies 3 equals 0
0 mutiplies 4 equals 0
0 mutiplies 5 equals 0
0 mutiplies 6 equals 0
0 mutiplies 7 equals 0
0 mutiplies 8 equals 0
1 mutiplies 0 equals 0
1 mutiplies 1 equals 1
1 mutiplies 2 equals 2
1 mutiplies 3 equals 3
1 mutiplies 4 equals 4
1 mutiplies 5 equals 5
1 mutiplies 6 equals 6
1 mutiplies 7 equals 7
1 mutiplies 8 equals 8
2 mutiplies 0 equals 0
2 mutiplies 1 equals 2
2 mutiplies 2 equals 4
2 mutiplies 3 equals 6
2 mutiplies 4 equals 8
2 mutiplies 5 equals 10
2 mutiplies 6 equals 12
2 mutiplies 7 equals 14
2 mutiplies 8 equals 16
3 mutiplies 0 equals 0
3 mutiplies 1 equals 3
3 mutiplies 2 equals 6
3 mutiplies 3 equals 9
3 mutiplies 4 equals 12
3 mutiplies 5 equals 15
3 mutiplies 6 equals 18
3 mutiplies 7 equals 21
3 mutiplies 8 equals 24
4 mutiplies 0 equals 0
4 mutiplies 1 equals 4
4 mutiplies 2 equals 8
4 mutiplies 3 equals 12
4 mutiplies 4 equals 16
4 mutiplies 5 equals 20
4 mutiplies 6 equals 24
4 mutiplies 7 equals 28
4 mutiplies 8 equals 32
5 mutiplies 0 equals 0
5 mutiplies 1 equals 5
5 mutiplies 2 equals 10
5 mutiplies 3 equals 15
5 mutiplies 4 equals 20
5 mutiplies 5 equals 25
5 mutiplies 6 equals 30
5 mutiplies 7 equals 35
5 mutiplies 8 equals 40
6 mutiplies 0 equals 0
6 mutiplies 1 equals 6
6 mutiplies 2 equals 12
6 mutiplies 3 equals 18
6 mutiplies 4 equals 24
6 mutiplies 5 equals 30
6 mutiplies 6 equals 36
6 mutiplies 7 equals 42
6 mutiplies 8 equals 48
7 mutiplies 0 equals 0
7 mutiplies 1 equals 7
7 mutiplies 2 equals 14
7 mutiplies 3 equals 21
7 mutiplies 4 equals 28
7 mutiplies 5 equals 35
7 mutiplies 6 equals 42
7 mutiplies 7 equals 49
7 mutiplies 8 equals 56
8 mutiplies 0 equals 0
8 mutiplies 1 equals 8
8 mutiplies 2 equals 16
8 mutiplies 3 equals 24
8 mutiplies 4 equals 32
8 mutiplies 5 equals 40
8 mutiplies 6 equals 48
8 mutiplies 7 equals 56
8 mutiplies 8 equals 64